
  <div class="container w-50">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mt-4 justify-content-center d-flex">
      <h5 class="titulo-auth">Inicio de sesión</h5>
    </div>

    <form class="row w-100"  [formGroup]="form" (submit)="submitSignIn(form.value)" autocomplete="off">
      <div class="col-md-12 mb-2 ml-4 mr-4 justify-content-center d-flex">
        <div class="form-group w-75">
          <label for="email">Correo Electrónico</label>
          <input class="form-control form-control-rounded" formControlName="email"  name="email" type="email" />
          <small class="form-text text-danger">
          </small>
        </div>
      </div>
      <div class="col-md-12 mb-2 ml-4 mr-4 justify-content-center d-flex">
        <div class="form-group w-75">
          <label for="password">Contraseña</label>
          <input class="form-control form-control-rounded" formControlName="password" name="password"
            type="password" />
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-4 mt-4">
        <div class="w-75 justify-content-center d-flex">
          <button class="btn btn-primary btn-rounded w-50" [disabled]="!form.valid" type="submit">
            Ingresar
          </button>
        </div>
      </div>
    </form>
  </div>

