<app-navbar></app-navbar>

<div class="container p-4">
  <button type="button" class="btn btn-primary btn-rounded p-2 mb-4" (click)="addItem()">Agregar</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData">
        <td style="cursor: pointer;vertical-align:middle" (click)="editItem(data.id)">{{data.id}}</td>
        <td style="vertical-align:middle">{{data.title}}</td>
        <td style="vertical-align:middle">{{data.body}}</td>
        <td style="vertical-align:middle"><button type="button" class="btn btn-danger p-1" (click)="removeItem(data.id)"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></button></td>
      </tr>
    </tbody>
  </table>
</div>
