
<div class="pb-8">
  <app-navbar></app-navbar>
</div>

<div class="container" style="width: 30rem;">
<form [formGroup]="form" (submit)="addItem(form.value)">
  <div class="divider d-flex align-items-center my-4">
    <p class="text-center fw-bold mx-3 mb-0">AGREGAR </p>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Título</label>
    <input type="title" class="form-control" id="title" formControlName="title" />
    <small *ngIf="isTitleValid"class="form-text text-danger">El título no es válido</small>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example2">Descripción</label>
    <textarea type="body" class="form-control" id="body" formControlName="body" rows="4"></textarea>
    <small *ngIf="isBodyValid"class="form-text text-danger">El contenido  no es válido</small>
  </div>

  <div class="col-md-12 d-flex justify-content-center mb-4 mt-4">
    <div class="w-75 justify-content-center d-flex">
      <button class="btn btn-primary btn-rounded w-50" [disabled]="!form.valid" type="submit">
      Guardar
      </button>
    </div>
  </div>
</form>
</div>


