
  <app-navbar></app-navbar>

  <div class="container p-4">
    <button type="button pb-4" class="btn btn-primary" (click)="addItem()">Agregar</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">title</th>
          <th scope="col">Description</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listData">
          <td (click)="goItem(data.id)">{{data.id}}</td>
          <td>{{data.title}}</td>
          <td>{{data.body}}</td>
          <td><button type="button" class="btn btn-danger" (click)="removeItem(data.id)">Eliminar</button></td>
        </tr>


      </tbody>
    </table>

  </div>


